<nav class="navbar navbar-expand-lg navbar-light custom-navbar">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-secondary" type="button">Search</button>
            </div>
          </li>
        </ul>
  
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="../assets/profile.jpg" alt="Profile" class="profile-image">
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
              <li><a class="dropdown-item" href="#">User Details</a></li>
              <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  