<!-- <div class="container-fluid">
  <div class="row" style="background-color: tomato;">
    <div class="col-md-3" style="background-color: rgb(106, 204, 50);">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-9 mr-0" style="background-color: rgb(191, 28, 220);">
      <app-navbar></app-navbar>        
    </div>
    <div class="container" style="background-color: red; height: 100%;">
      Hello js
    </div>
    <router-outlet></router-outlet>
  </div>
</div>

 -->


 
 <div id="sidebar">
     <app-sidebar></app-sidebar>
 </div>
 
 <div id="content"> 
  <div id="navbar">  
    <app-navbar></app-navbar>
  </div>     
  <div class="inner-content">
    <router-outlet></router-outlet>
  </div>
 </div>

 
 