<div class="sidebar">
    <div class="text-center py-4">
        <img src="../../../assets/logo.jpg" alt="Profile" class="profile-image">
      </div>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="#">
          Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          Products
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          Orders
        </a>
      </li>
    </ul>
  </div>
  