<div class="sidebar">
    <div class="text-center py-4">
      <a routerLink="home">
        <img src="../../../assets/logo.jpg" alt="Profile" class="profile-image">
      </a>
      </div>
    <div class="sidebar-divider"></div> <!--divider-->
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="home">
          Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="products">
          Products
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="dashboard">
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="orders">
          Orders
        </a>
      </li>
    </ul>
  </div>
  